<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinformTest.Properties.NVRAccessProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinformTest.Properties.CommonProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinformTest.Properties.NVRAccess-Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinformTest.Properties.DBProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WinformTest.Properties.NVRAccessProperties>
            <setting name="HTTP_HEADER" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="NVR_IP" serializeAs="String">
                <value>192.168.10.124</value>
            </setting>
            <setting name="NVR_USER_NAME" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="NVR_USER_PW" serializeAs="String">
                <value>Tjxldnpdj2018!</value>
            </setting>
            <setting name="RTSP_HEADER" serializeAs="String">
                <value>rtsp://</value>
            </setting>
        </WinformTest.Properties.NVRAccessProperties>
        <WinformTest.Properties.CommonProperties>
            <setting name="groupMargin" serializeAs="String">
                <value>20</value>
            </setting>
        </WinformTest.Properties.CommonProperties>
        <WinformTest.Properties.NVRAccess-Properties>
            <setting name="HTTP_HEADER" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="NVR_IP" serializeAs="String">
                <value>192.168.10.124</value>
            </setting>
            <setting name="NVR_USER_NAME" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="NVR_USER_PW" serializeAs="String">
                <value>Tjxldnpdj2018!</value>
            </setting>
            <setting name="RTSP_HEADER" serializeAs="String">
                <value>rtsp://</value>
            </setting>
        </WinformTest.Properties.NVRAccess-Properties>
        <WinformTest.Properties.DBProperties>
            <setting name="Host" serializeAs="String">
                <value>192.168.10.124</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>postgres</value>
            </setting>
        </WinformTest.Properties.DBProperties>
    </userSettings>
</configuration>